// Colors 
$primary: #1F1534;
$secondary: #458FF6;
$accent : #4089ED;
$gray: #7D7987;
$footer-bg: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);

// grid breakpoints
$breakpoints-up: (
  "small": 768px,
  "medium": 992px,
  "large": 1200px,
) !default;

$breakpoints-down: (
  "xsmall": 575px,
  "small": 767px,
  "medium": 991px,
  "large": 1199px,
) !default;
